* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #ddd;
    display: grid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}

#topo {
    display:contents;
}

h1 {
    margin: 10px;
    text-align: center;
}

.menu-inicial {
    display: grid;
    max-width: 500px;
    margin: auto;
}

.menu-inicial > a {
    background-color: #ddd;
    padding: 10px 10px;
    margin: 10px 0;
    text-decoration: none;
    columns: #222;
    border-radius: 4px;
    color: #222;
    font-weight: 600;
    min-width: 500px;
    transition: 0.2s;
    border: transparent 2px solid;
}

.menu-inicial a:hover {
    background-color: transparent;
    color: #ddd;
    border: #ddd 2px solid;
}

hr {
    margin: 10px 0px;
}

.inicio {
    background-color: #ddd;
    padding: 5px;
    width: fit-content;
    border-radius: 2px;
    text-decoration: none;
    color: #002;
    transition: 0.2s;
    border: transparent 2px solid;
    font-weight: 600;
    font-size: 13px;
    position: absolute;
}

.inicio:hover {
    background-color: transparent;
    color: #ddd;
    border: #ddd 2px solid;
}